<app-modal [title]="title">
  <form [formGroup]="editUserForm" (ngSubmit)="saveUser(editUserForm)">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>

    <div class="form-group">
      <label for="rolesList">Roles</label>
      <input type="text" formControlName="rolesList" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.rolesList.errors }" />
      <div *ngIf="submitted && f.rolesList.errors" class="invalid-feedback">
        <div *ngIf="f.rolesList.errors.required">A role is required</div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary mr-3">Save</button>


  </form>
</app-modal>