<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-6 ">
      <div class="col-md-12">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Roles</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of pagination.userList">
              <td *ngIf="!user.showForm ">{{user.email}}</td>
              <td *ngIf="user.showForm ">
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="user.email">
              </td>

              <td *ngIf="!user.showForm">{{user.rolesList}}</td>

              <td *ngIf="user.showForm ">
                <input *ngIf="user.rolesList.length > 0" type="text" class="form-control" name="rolesList"
                  [(ngModel)]="user.rolesList" placeholder="user.rolesList">
                <input *ngIf="user.rolesList.length === 0" type="text" class="form-control" name="rolesList"
                  [(ngModel)]="user.rolesList" placeholder="add roles">
                <small id="rolesHelp" class="form-text text-muted">Available roles User & Admin. Use a comma when
                  adding more roles</small>

              </td>
              <td>
                <i *ngIf="!user.showForm" class="far fa-edit" (click)="user.showForm = true"></i>
                <i *ngIf="user.showForm" class="far fa-save" (click)="saveUser(user)"></i>

              </td>
              <td>
                <i *ngIf="!user.showForm" class="fa fa-trash" aria-hidden="true" (click)="deleteUser(user)"></i>
                <i *ngIf="user.showForm" class="fa fa-times" aria-hidden="true" (click)="user.showForm = false"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="coll-md-6  align-self-end">
      <div class="col-md-12">

<app-user-create (onClicked)="clicked()"></app-user-create>
       
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg ">
  <app-pagination *ngIf="pagination.totalItems > 0" [pagination]="pagination"
    (onClickedPage)="clickedPage()"></app-pagination>
    </div>
  </div>
</div>