<form>
  <div class="form-group">
    <label for="firstName">Search on firstname</label>
    <input type="text" class="form-control" id="firstName" name="filterFirstName" [(ngModel)]="customerFilterPagination.filterFirstName">
  </div>

  <div class="form-group">
    <label for="lastName">Search on lastname</label>
    <input type="text" class="form-control" id="lastName" name="filterLastName" [(ngModel)]="customerFilterPagination.filterLastName">
  </div>

  <div class="form-group">
    <label for="accountNumber">Search on account number</label>
    <input type="text" class="form-control" id="accountnumber" name="accountNumber"
      [(ngModel)]="customerFilterPagination.filterAccountNumber">
  </div>

  <div class="form-group">
    <label for="sumTotalDue">Search sum total due lower then</label>
    <input type="text" class="form-control" id="sumtotaldueLower" name="filterSumTotalDueLower"
      [(ngModel)]="customerFilterPagination.filterSumTotalDueLower">
  </div>

  <div class="form-group">
    <label for="sumTotalDue">Search sum total due higher then</label>
    <input type="text" class="form-control" id="sumtotaldueHigher" name="filterSumTotalDueHigher"
      [(ngModel)]="customerFilterPagination.filterSumTotalDueHigher">
  </div>
  <button type="submit" class="btn btn-primary mr-3" (click)="filter()">Search</button>
  <button type="submit" class="btn btn-primary" (click)="clearForm()">Reset</button>
</form>