<div class="card">
  <h5 class="card-header">Create a new user</h5>
  <div class="card-body">
    <form #myform="ngForm" (ngSubmit)="registerUser(myform)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="Email" ngModel class="form-control" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="PassWord">Password</label>
        <input type="text" name="Password" ngModel class="form-control" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary  mr-3">Submit</button>
    </form>
  </div>
</div>