<div class="container">
  <div class="row">
    <div class="col-lg">
      <table *ngIf="customerFilterPagination.customerItemList.length > 0" class="table">
        <thead>
          <tr>
            <th scope="col">Account number</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Sum total due</th>
            <th *ngIf="currentUser.isAdmin"></th>
            <th *ngIf="currentUser.isAdmin"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let customer of customerFilterPagination.customerItemList">

            <td *ngIf="!customer.showForm">
              {{customer.accountNumber}}
            </td>
            <td *ngIf="customer.showForm">
              <input type="text" class="form-control" name="accountNumber" [(ngModel)]="customer.accountNumber"
                placeholder="customer.accountNumber">
            </td>

            <td *ngIf="!customer.showForm">
              {{customer.firstName}}
            </td>
            <td *ngIf="customer.showForm">
              <input *ngIf="customer.showForm" type="text" class="form-control" name="firstName"
                [(ngModel)]="customer.firstName" placeholder="customer.firstName">
            </td>

            <td *ngIf="!customer.showForm">
              {{customer.lastName}}
            </td>
            <td *ngIf="customer.showForm">
              <input *ngIf="customer.showForm" type="text" class="form-control" name="lastName"
                [(ngModel)]="customer.lastName" placeholder="customer.lastName">
            </td>

            <td>{{customer.sumTotalDue}}</td>

            <td *ngIf="currentUser.isAdmin">
              <i *ngIf="!customer.showForm" class="far fa-edit" (click)="editCustomer(customer)"></i>
              <i *ngIf="customer.showForm" class="far fa-save" (click)="saveCustomer(customer)"></i>
            </td>
            <td *ngIf="currentUser.isAdmin">
              <i *ngIf="customer.showForm" class="far fa-times-circle" (click)="exitLine(customer)"></i>

            </td>
      
          </tr>
        </tbody>
      </table>
    </div>

    <div class="coll  align-self-center">
          <app-customer-search [customerFilterPagination] = "customerFilterPagination" (onClicked)="clickedSearch()" ></app-customer-search>
    </div>
  </div>
</div>

<app-pagination *ngIf="customerFilterPagination.totalItems > 0" [customerFilterPagination] = "customerFilterPagination" (onClicked)="clickedPage()"></app-pagination>
