<div class="container">
  <div class="row">
    <div class="col-lg">
      <p *ngIf="customerFilterPagination.pagination.customerList.length == 0">No results found</p>
      <table *ngIf="customerFilterPagination.pagination.customerList.length > 0" class="table">
        <thead>
          <tr>
            <th scope="col">Account number</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Sum total due</th>
            <th *ngIf="currentUser.isAdmin"></th>
            <th *ngIf="currentUser.isAdmin"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customerFilterPagination.pagination.customerList">

            <td>{{customer.accountNumber}}</td>

            <td>{{customer.firstName}} </td>

            <td>{{customer.lastName}}</td>

            <td>{{customer.sumTotalDue}}</td>

            <td *ngIf="currentUser.isAdmin">
              <i *ngIf="!customer.showForm" class="far fa-edit" (click)="openForm(customer)"></i>
            </td>

          </tr>
        </tbody>

      </table>
    </div>

    <div class="coll  align-self-center">
      <app-customer-search [customerFilterPagination]="customerFilterPagination" (onClicked)="getListCustomer()">
      </app-customer-search>
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-lg ">
      <app-pagination [pagination]="customerFilterPagination.pagination" (onClickedPage)="getListCustomer()">
      </app-pagination>
    </div>
  </div>
</div>